{% extends 'base.html' %}
{% load static %}

{% block title %}link{% endblock %}

{% block content %}

    <div class="drag-area">
        {% if command == 'split' %}
            {% for file in files %}
                <p>
                    <a href="{{ file.pdf.url }}" target="_blank" rel="noopener noreferrer">{{ file.pdf }}</a>
                </p>
            {% endfor %}
        {% else %}
            <p>
                <a href="{{ file.pdf.url }}">{{ file.pdf }}</a>
            </p>
        {% endif %}

    </div>

{% endblock %}