{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag & Drop or Browse: File Upload | CodingNepal</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="drag-area">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <header style="margin: 20px;">Please select multiple pdf files</header>
        <label for="file">
                <img src="{% static 'icon/icons8-upload-96.png' %}" style="width: 70px;" alt="" id="upload-icon">
        </label>
        <button id="'button" style="margin-top: 40px">Confirm</button>
        {{ upload_pdf_form.pdf }}
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script>

    </script>
</form>
</body>
</html>