{% extends 'base.html' %}
{% load static %}

{% block title %}Pdf to Word{% endblock %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="drag-area">
            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
            <header style="margin: 20px;">Please select a pdf files</header>
            <label for="file">
                <img src="{% static 'icon/icons8-upload-96.png' %}" style="width: 70px;" alt="" id="upload-icon">
            </label>
            <div>
                <button id="'button" style="margin-top: 40px">Confirm</button>
            </div>
            {{ upload_pdf_form.pdf }}
        </div>
    </form>


{% endblock %}
